<div class="jumbotron jumbotron-bkg">
	<h1>Article Saver</h1>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<form>
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for articles">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default search-btn"><i class="glyphicon glyphicon-search"></i></button>
						</div> <!-- end of button div-->
					</div> <!-- end of input group -->						
				</div> <!-- end of form group -->
			</form> <!-- end of search input form -->
		</div>
	</div>
</div>
<!-- start page content -->
<div class="row">
	<div class="col-xs-12 col-md-6">
		<div class="well"><h3>Popular Articles</h3></div>
		<div class="list-group" id="popular-articles"></div>
	</div>
	<div class="col-xs-12 col-md-6">
		<div class="well"><h3>Most Discussed</h3></div>
		<div class="list-group" id="commented-articles"></div>
	</div>
</div>
<!-- Save Article Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="save-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-center" id="save-modal-body"></h4>
			</div>
			<div class="modal-footer">
				<a href="/articles/saved" class="btn btn-success">Go to Saved Articles</a>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div><!-- end of modal-content -->
	</div><!-- end of modal-dialog -->
</div><!-- end of modal -->