<div class="jumbotron jumbotron-bkg">
	<h1>Your Saved Articles</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="list-group" id="articles-div"></div>
	</div>
</div>
<!-- Unsave Article Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="unsave-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Article successfully removed from your saved articles.</h4>
      </div>
      <div class="modal-footer">
      	<a href="/articles/saved" class="btn btn-success">Refresh Page</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- end of modal-content -->
  </div><!-- end of modal-dialog -->
</div><!-- end of modal -->